<div class="container">
  <div class="card shadow-sm text-dark mt-5">
      <div class="card-header">
          <p>About and Useful Information</p>
      </div>
      <div class="card-body border-0 ">
          <div class="table-responsive">
          <table class="table table-borderless table-striped table-hover mt-3 text-left ">
          <tbody>
              <tr>
                  <th>Developer</th>
                  <td>Harshkumar Kothari</td>
              </tr>
              <tr>
                  <th>Technology</th>
                  <td>Angular 8</td>
              </tr>
              <tr>
                  <th>Github Repo</th>
                  <td><a href="https://github.com/harshk98/covid19" target="_blank">github source code</a></td>
              </tr>
              <tr>
                  <th>API for Indian Data</th>
                  <td><a href="https://api.covid19india.org/" target="_blank">api.covid19india.org</a></td>
              </tr>
              <tr>
                <th>API for World Data</th>
                <td><a href="https://corona.lmao.ninja/v2/countries?sort=country" target="_blank">World Data Api</a></td>

            </tr>
              </tbody>
          </table>
          </div>
      </div>
  </div>
</div>