<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="javascript:void(0)"><img src="assets/images/logo.svg"> COVID-19 TRACKER</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navb">
    <div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="state">State-Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="dist">District-Data</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="world">World-Data</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="about">About</a>
      </li> 
    </ul>
  </div>
  </div>  
</nav>

<app-datetime></app-datetime><br>


<router-outlet></router-outlet>
